.card{
    position:relative;
    width: 250px;
    height: 300px;
    background-color: var(--Card-color);
    display: flex;
    flex-direction: column;
   align-items: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.up{
width: 70%;
height: 120px;
background-color: rgb(197, 153, 153);

position: absolute;
margin: 0;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
}

.down{
    width: 85%;
    height: 90%;
    margin-top: 15px;
    background-color: rgb(150, 72, 39);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}